@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: hsl(162, 45%, 56%);
  --lead: hsl(162, 2%, 56%);
  --blue: hsl(220, 84%, 32%);
  --violet: hsl(272, 59%, 37%);
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 90%);
  --glass-bg-color: #081233a6;
  --border-color: oklch(27.9% 0.041 260.031);
  --blur: blur(10px);
  --button-hover-color: hsla(0, 0%, 0%, 0.3);
}

body.modo-claro {
  --blue: hsl(220, 85%, 84%);
  --violet: hsl(315, 100%, 93%);
  --glass-bg-color: #f3f4f8ce;
}

input {
  background: none;
}

.formulario {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulario::after,
.formulario::before {
  content: "";
  position: fixed;
  height: 400px;
  width: 700px;
  border-radius: 50%;
  z-index: -1;
  filter: blur(150px);
  opacity: 0.5;
}

.formulario::before {
  background-color: var(--blue);
  left: 0;
  bottom: 0;
  transform: translate(-50%);
}

.formulario::after {
  background-color: var(--violet);
  right: 0;
  top: 0;
  transform: translate(50%);
}

.menu-form {
  justify-content: space-between;
  width: 100%;
  padding: 5px 50px;
}

.form-main {
  min-height: 100vh;
  padding: 60px 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form-content {
  background: var(--glass-bg-color);
  width: 100%;
  max-width: 490px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.form-content .box {
  border-color: var(--glass-bg-color);
  border: 2px solid var(--border-color);
  padding: 40px 50px;
  border-radius: 20px;
  backdrop-filter: var(--blur);
}

.form-content h3 {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: var(--tex-white);
  font-weight: 500;
}

.form-content form {
  margin: 25px 0 20px 0;
}

.form-content .input-box {
  margin: 25px;
}

.input-control {
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  margin-top: 0.35rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.input-control input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.875rem;
  color: inherit;
}
.input-control input::placeholder {
  color: #94a3b8;
}

.form-content .input-link {
  margin-top: 10px;
  text-align: right;
}

.form-content {
  text-align: center;
}
